html,
body {
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 10px;
}

.select {
	appearance: none;
	background-image: url(../assets/down-arrow.svg);
	background-repeat: no-repeat;
	background-position: right 10px top 50%;
	background-size: 12px;
}

.btn {
	background-color: transparent;
	text-decoration: none;
	font-family: inherit;
	cursor: pointer;
	display: block;
	outline: none;
	border: none;
}

.btn--default {
	border: 2px solid #fff;
	background-color: transparent;
	color: #fff;
	font-weight: 500;
	border-radius: 3px;
	padding: 5px 15px;
	font-size: 14px;
}

.btn--icon {
	border-radius: 3px;
	border: 2px solid #fff;
	color: inherit;
	padding: 6px 8px;
	display: flex;
	align-items: center;
}

.btn--priority {
	margin-left: auto;
	color: inherit;
	font-size: inherit;
}

.btn--option {
	margin: 8px;
	display: inline-block;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	color: #333;
	background-color: #f2f2f2;
}

.text {
	padding: 0 5px;
	font-weight: 500;
}
