.filter-form {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    padding: 20px 0;
}

.filter {
    position: fixed;
    top: 59px;
    left: 0;
    right: 0;
    z-index: 3;
}
.filter-select{
    margin-right: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #dbdbdb;
    padding: 5px;
    appearance: none;
    background-image: url(../../assets/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 12px;
}
.filter-input {
    margin-right: 10px;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
}
.filter-btn{
    padding: 5px 15px;
    border-radius: 6px;
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    font-weight: 500;
    display: inline-block;
}