.dropdown__title {
	padding: 15px;
	text-align: left;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.dropdown__menu {
	width: 200px;
	display: none;
	z-index: 2;
	position: absolute;
	background-color: #fff;
	top: calc(100% + 10px);
	border-radius: 6px;
	overflow: hidden;
	right: 0px;
	border: 1px solid #dbdbdb;
	padding: 20px;
}

.dropdown__info {
	display: block;
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #dbdbdb;
	padding-top: 5px;
}

.dropdown__open {
	display: block;
}
.additional-info {
	width: 250px;
	cursor: pointer;
}

.additional-option {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	max-width: 250px;
	overflow: hidden;
}
