.filter-form {
	flex-direction: row;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	flex-wrap: wrap;
}

.filter-select {
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	border-radius: 6px;
	border: 1px solid #dbdbdb;
	padding: 5px 25px 5px 5px;
}

.filter-input {
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	padding: 5px;
	border: 1px solid #dbdbdb;
	border-radius: 6px;
}

.filter-btn {
	background-color: #07c;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 5px 15px;
	border-radius: 6px;
	color: #fff;
	font-weight: 500;
	display: inline-block;
}
