.form {
	background-color: white;
	border-radius: 7px;
	display: flex;
	flex-direction: column;
}

.form__input {
	width: auto;
	outline: none;
	border: 1px solid #dbdbdb;
	padding: 7px 5px;
	font-size: 18px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.form__submit {
	padding: 10px;
	font-weight: 500;
	font-size: 18px;
}

.form__title {
	font-size: 24px;
	margin-bottom: 20px;
	font-weight: 700;
	text-align: center;
}

.form__select {
	width: 100%;
	border: 1px solid #dbdbdb;
	padding: 7px 5px;
	font-size: 18px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.form__select select {
	color: red;
	background-color: red;
}

.form__textarea {
	width: auto;
	resize: vertical;
	border: 1px solid #dbdbdb;
	padding: 7px 5px;
	font-size: 18px;
	border-radius: 5px;
	margin-bottom: 10px;
}

/* addition class for form select */

.visit__form-wrapper {
	margin-top: 20px;
}
