.form {
	background-color: white;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
}

.form *:not(:last-child) {
	margin-bottom: 20px;
}

.form-wrapper {
	z-index: 12;
}

.form__input {
	width: auto;
	outline: none;
	border: 1px solid #dbdbdb;
	padding: 10px 15px;
	font-size: 18px;
	border-radius: 6px;
	margin-bottom: 10px;
}

.form__submit {
	padding: 10px;
	font-weight: 500;
	font-size: 18px;
	border-radius: 6px;
}

.form__title {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	text-transform: capitalize;
}

.form__select {
	width: 100%;
	border: 1px solid #dbdbdb;
	padding: 10px 15px;
	font-size: 18px;
	border-radius: 6px;
}

.form__textarea {
	width: auto;
	resize: vertical;
	border: 1px solid #dbdbdb;
	padding: 10px 15px;
	font-size: 18px;
	border-radius: 6px;
}

.visit__form-wrapper {
	margin-top: 20px;
}
