.form {
	background-color: white;
	border-radius: 7px;
	display: flex;
	flex-direction: column;
}

.form__input {
	outline: none;
	border: 1px solid #dbdbdb;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.form__submit {
	padding: 10px;
	font-weight: 500;
	font-size: 18px;
}

.form__title {
	font-size: 24px;
	margin-bottom: 20px;
	text-align: center;
}
