.logo-wrapper {
	display: flex;
	align-items: center;
	margin: 10px 0;
}

.logo {
	font-size: 26px;
	font-weight: 700;
	cursor: pointer;
	margin-right: 5px;
}

.logo-wrapper .fa,
.logo-wrapper .fas,
.logo-wrapper .fab {
	align-items: center;
	font-size: 26px;
}
