.main {
	min-height: calc(100vh - 280px);
	background: linear-gradient(165deg, #f7f5fb 50%, #fff 50%);
	padding: 200px 0px 80px 0px;
	z-index: 1;
}

.info {
	display: flex;
	align-items: center;
	position: absolute;
	top: 200px;
	left: 0;
	right: 0;
	bottom: 70px;
}

.info__img {
	display: block;
	margin: 0;
	padding: 0;
	max-height: 250px;
	object-fit: contain;
	width: 100%;
}
