.nav__inner-wrapper {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.nav {
	padding: 15px 0;
	display: flex;
	align-items: center;
}

.nav__list {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex: 1;
	margin-top: 10px;
}

.nav__item {
	background-color: #07c;
	border-radius: 3px;
	color: #fff;
}

.nav__item:not(:last-child) {
	margin-right: 10px;
}
