.nav__inner-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav {
	padding: 15px 0;
	display: flex;
	align-items: center;
	background-color: #fff;
	border-bottom: 1px solid #dbdbdb;
}

.nav__list {
	display: flex;
	align-items: center;
}

.nav__item:not(:last-child) {
	margin-right: 25px;
}
